{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Current File",
            "type": "python",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal",
            "justMyCode": true
        },
        {
            "name": "RobotCode: Run Current",
            "type": "robotcode",
            "request": "launch",
            "cwd": "${workspaceFolder}",
            "target": "${file}",
            "attachPython": true,
            "pythonConfiguration": "RobotCode: Python",
            "args": [
                "--outputdir=${workspaceFolder}/tests/logs",
                "--variable=ROOT:${workspaceFolder}",
                "--loglevel=TRACE:DEBUG"
            ]
        },
        {
            "name": "RobotCode: Run All",
            "type": "robotcode",
            "request": "launch",
            "cwd": "${workspaceFolder}",
            "target": ".",
            "attachPython": true,
            "pythonConfiguration": "RobotCode: Python",
            "args": [
                "--outputdir=${workspaceFolder}/tests/logs",
                "--variable=ROOT:${workspaceFolder}",
                "--loglevel=TRACE:DEBUG"
            ]
        },
        {
            "name": "RobotCode: Default",
            "type": "robotcode",
            "request": "launch",
            "purpose": "default",
            "presentation": {
                "hidden": true
            },
            "attachPython": true,
            "pythonConfiguration": "RobotCode: Python",
            "args": [
                "--outputdir=${workspaceFolder}/tests/logs",
                "--variable=ROOT:${workspaceFolder}",
                "--loglevel=TRACE:DEBUG"
            ]
        },
        {
            "name": "RobotCode: Python",
            "type": "python",
            "request": "attach",
            "presentation": {
                "hidden": true
            },
            "justMyCode": false
        }
    ]
}